.container-resultat{
    width: 100vw;
    height: 100vh;
}


header h1{
    margin: 14% 22% 8% 22%;
    text-align: center;

}

#headerTitles{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 7%
}

div#left{
    display: flex;
    flex-direction: column;

}
div#right{
    display: flex;
    flex-direction: column;
}

header h2{
    font-size: 1em;
    color: white;
    font-family: "Montserrat-Bold";
    line-height: 1.5em;
}

div.box-shadow {
    background: #ffffffd9;
    margin: -3% 5% 4%;
    padding: 5%;
    border-radius: 10px;
}

/* div.box-shadow{
    
    background: #ffffffd9;
    margin: 7% 5% 4%;
    padding: 5%;
    border-radius: 10px;
} */

.box-shadow p{
    margin-bottom: 7%;
    text-align: justify;
    font-family: "Montserrat-Regular";
}

.container-resultat button{
    margin: -0.5rem auto;
    width: 142px;
    height: 53px;
    text-align: center;
    padding: 2.5% 2%;
    font-family: "Montserrat-Medium";
    border-radius: 20px;
    background-color: #ffdb71;


}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#titreCard1{
    align-self: flex-start;
}
#titreCard2{
    align-self: flex-start;
}
#titreCard3{
    align-self: flex-end;
}
#titreCard4{
    align-self: flex-end;
}