.container-resultat{
    width: 100vw;
    height: 100vh;
}


header h1{
    margin: 14% 22% 8% 22%;
    text-align: center;

}

#headerTitles{
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

div#left{
    display: flex;
    flex-direction: column;

}
div#right{
    display: flex;
    flex-direction: column;
}

header h2{
    font-size: 1em;
    color: white;
    font-family: "Montserrat-Bold";
    line-height: 1.5em;
}

div.box-shadow{
    background: #ffffffd9;
    margin: 7% 5% 4%;
    padding: 5%;
    border-radius: 10px;
}

.box-shadow p{
    margin-bottom: 7%;
    text-align: justify;
    font-family: "Montserrat-Regular";
}

.container-resultat button{
    margin: 0rem auto;
    width: 130px;
    height: 45px;
    text-align: center;
    padding: 2.5% 3%;
    font-family: "Montserrat-Medium";
    border-radius: 20px;
    background-color:#ffdb71 ;


}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}