html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* FONTS *******/
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Crima";
    src: url("../fonts/Crima/Crima.otf");
}

/********* Media Queries *********/
@media (max-width: 390px) {
    body {
        width: 100%;
    }
}

/****************** Page Index *******************/

body {
    background-color: #13192c;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.png);
    background-image: url(../images/Plan\ de\ travail\ 1.png);
    background-size: cover;
}

.entrance {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  
    margin-top: 15rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    padding-left: 0.3rem;
    padding-top: 0.5rem;
    color: #13192c;

}

h1 {
    display: flex;
    color: #ffdb71;
    font-family: "Crima";
    font-size: 2rem;
}

button {
    display: flex;
    width: 83px;
    height: 40px;
    margin-top: 2rem;
    border-radius: 28px;
    background-color: #ffffffe6;

}

/*************** PAGE APPLICATION **********/
/* Div cards */

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 100px;
    height: 150px;
    /* border: 1px black solid; */
    margin: 15px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

#card3 {
    top: 55px;
}

#card1 {
    top: 168px;
  left: 0;
}

#card2 {
    top: 168px;
  right: 0;
}

#card4 {
    top: 285px;
}

.card.visible {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 105px;
    height: 155px;
    border-radius: 10px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: green;  
    cursor: not-allowed;
}

.back {
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    cursor: pointer;
    background-image: url('../images/etoile.png');
    background-size: cover;
}

.cards-position {
  width: 102px;

  height: 152px;

  border-radius: 10px;

  flex-shrink: 0;
  background-image: url('../images/etoile.png');
    background-size: cover;
}

#selection-area {
  width: 100%;

    display: flex;

    position: absolute;

    bottom: 10%;

  overflow: scroll;

  flex-wrap: nowrap;
}

.container-application {
  width: 100%;
 /*height: 100vh;*/
}
div.container-application button{
    /* position: absolute; */
    bottom: 25px;
    left: 36%;
    width: 26%;
    padding: 2%;
    border-radius: 13px;
    margin-left: -12%;


}



/* Fin de la div card */
/*************** PAGE RESULAT **********/

.container-resultat {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}


/* règles dynamiques pour changer l’arrière des cartes séléctionnées */
.picked div.back {
    background-color: red;
    color: red;
}

footer{
    position: absolute;
    /* display: flex; */
    bottom: 3%;
    width: 100%;
}
